@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* Estilos globais */
body {
  @apply bg-light text-textLight; /* Cores para o tema claro */
}

/* Tema Escuro */
.dark body {
  @apply bg-dark text-textDark; /* Cores para o tema escuro */
}
